
h4{
  font-size: 18px;
  text-align: center;
  font-weight:700;
  width: 100%;
}

.progress{
  height: 5px;
}

.container {
  height:50vh
}

.dropdown-menu {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

.card{
  background-color: #F8F8F8;
  border: none;
}
.card-img-top {
  margin-top: 10px;
  width: 130px;
  height: auto;
}

.checkbox{
  display: flex;
  align-items: center;
  background-color: #F8F8F8;
  height: 45px;
}

.form-check-input:checked{
  background-color: #2CB34F;
}

.card-text{
  padding-left: 8px;
  padding-top: 2px;
  font-size: 14px;
}

h1{
  font-size: 50px;
}

.btn{
  font-size: 16px;
  font-weight:700;
  height: 46px;
  border: none;
  left: 50%;
  transform: translateX(-50%);
}
.btn-div{
  display: flex;
  height: 50px;
  justify-content: center;
}

.form-control{
  height: 140px;
}

.final-page{

background: url(assets/images/confetti-03.png);
height: 170px;
display: flex;

}

.col{
  background-color: #F8F8F8;
  margin: 10px;
  padding: 0px;

}

.discount-text{
  background-color: #111321;
  color: white;
  font-weight: bold;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}



